@layer components {
  .alertContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    height: 64px;
    max-width: 1280px;
    margin: 0 auto 8px;
    padding: 24px;

    background: #fff8ed;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);

    svg {
      height: 24px;
      width: 24px;

      path {
        fill: #ffb549;
      }

      circle {
        fill: #ffb549;
      }
    }
  }

  .alertText {
    color: #414149;

    font-weight: 400;
    font-size: 16px;

    margin-left: 24px;
  }
}
