@layer components {
  .alertContainer {
    padding: 0 42px;
  }

  .alertContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 0 auto 8px;
    padding: 12px 24px;

    background: #fff8ed;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);

    svg {
      height: 24px;
      min-width: 24px;

      path {
        stroke: #ffb549;
      }
    }
  }

  .alertText {
    color: #414149;

    font-weight: 400;
    font-size: 14px;

    margin-left: 24px;
  }
}
