@layer components {
  .createPostContainer {
    height: auto;
    width: 100%;
    padding-top: 16px;
    border-top: 1px solid #cac9cb;

    .spinnerContainer {
      padding: 40px 0 60px;
      height: auto;
      width: auto;
    }
  }

  .createPostContent {
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
  }

  .postContent {
    font-size: 14px;
    background: transparent;

    height: 128px;
    width: 100%;
    padding: 8px 16px;

    border-color: #cac9cb;
    border-width: 1px;
    border-radius: 16px;

    &:disabled {
      cursor: not-allowed;
      background: #ededed57;
      border: 1px solid #9ca3af;
    }
  }

  .postContent:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
  }

  .createPostButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }

    &:disabled {
      color: white;
      background: #9ca3af;
      cursor: not-allowed;
    }
  }

  .okButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: #4a279c;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
  }
}
