@layer components {
  .createForumContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 0 24px;
    font-family: Manrope, sans-serif;
  }

  .createForumTitle {
    font-size: 40px;
    text-align: center;
    color: #2e008b;
    padding-bottom: 1rem;
  }

  .createForumSubtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #414149;
    width: 650px;
    padding-bottom: 1rem;
  }

  .createForumForm {
    width: 50%;
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 16px #41414933;
    margin-top: 1rem;

    .formBody {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 85%;
      background: #fff;
      padding: 2rem;
    }

    .formLabel {
      padding: 0 4px;
      font-size: 16px;
      font-weight: 500;
    }

    .textSize {
      font-size: 12px;
      color: gray;
      text-align: right;
    }

    .formInput {
      width: 100%;
      font-size: 14px;
      padding: 12px;
      margin-top: 4px;
      margin-bottom: 16px;

      border-color: #cac9cb;
      border-width: 1px;
      border-radius: 6px;

      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      &:disabled {
        cursor: not-allowed;
      }

      &.description {
        height: 144px;
        margin-bottom: 0;
      }
    }

    .lastInputField {
      margin-bottom: 0;
    }

    .collapsibleContainer {
      padding: 0;
      border: none;
      background: inherit;
      margin: 16px 0;
      overflow-y: visible;
      max-height: none;

      .collapsibleHeader {
        font-size: 16px;
        font-weight: 500;
      }

      .visibilityButton {
        svg {
          height: 14px;
          width: 14px;

          path {
            stroke: #1e1e26;
          }
        }
      }
    }
  }

  .createForumButtonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    margin-top: 1rem;
    font-size: 11.2px;
    color: #6b7280;

    .createForumIconContainer {
      margin-right: 8px;
      width: 16px;
      height: 16px;
    }
  }

  .okInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.65;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.65;
    }
  }

  .acceptCreateForumButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.65;
    }
  }
}
