@layer components {
  .emptyForumView {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 64px;

    font-family: Manrope, sans-serif;

    .emptyTitle {
      font-size: 40px;
      text-align: center;
      color: #2e008b;

      padding-bottom: 56px;
    }

    .emptySubTitle {
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      color: #414149;

      width: 650px;
      padding-bottom: 96px;
    }
  }

  .disconnectedView {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Manrope, sans-serif;
    font-size: 24px;
    font-weight: 500;

    width: 100%;
    margin-top: 64px;
    padding: 24px;

    background: white;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 16%);
    border-radius: 12px;
  }

  .createForumButtonContainer {
    display: flex;

    padding-top: 12px;
    font-size: 11.2px;
    color: #6b7280;

    .createForumIconContainer {
      margin-right: 8px;
      width: 16px;
      height: 16px;
    }
  }

  .acceptCreateForumButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .cancelCreateForumButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #3f1d96;

    background: white;
    color: #3f1d96;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    &:hover {
      opacity: 0.85;
    }
  }

  .okInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.65;
    }

    &:disabled {
      color: #7c7b7c;
      background: #ffffff;
      border: 1px solid #7c7b7c;

      cursor: not-allowed;

      svg path {
        fill: #7c7b7c;
      }
    }
  }

  .createForumBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    .createForumLabel {
      padding: 0 4px;
      font-size: 16px;
      font-weight: 500;
    }

    .textSize {
      font-size: 12px;
      color: gray;
      text-align: right;
    }

    .createForumInput {
      width: 100%;
      font-size: 14px;
      padding: 12px;
      margin-top: 4px;
      margin-bottom: 16px;

      border-color: #cac9cb;
      border-width: 1px;
      border-radius: 6px;

      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }

    .createForumDescription {
      height: 144px;
    }

    .lastInputField {
      margin-bottom: 0;
    }
  }

  .successBody {
    display: flex;
    flex-direction: column;
  }

  .forumView {
    background: #f7f7fe;
    padding-top: 24px;
  }

  .forumViewContainer {
    font-family: Manrope, sans-serif;
    background: #f7f7fe;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 90vh;
    height: 100%;
    width: 100%;

    .forumViewContent {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0 42px;

      .forumLoading {
        padding-top: 192px;
      }

      @media only screen and (max-width: 480px) {
        margin: 0 8px;
      }
    }
  }
}
