@layer components {
  .forumContentBox {
    padding: 72px 10% 0;
    background-image: url('assets/default_background.png');
    background-position: bottom;
    background-size: cover;

    @media only screen and (max-width: 570px) {
      padding: 72px 5% 0;
    }
  }

  .forumContentHeader {
    height: auto;
    margin: 0;
    padding: 0 24px 48px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0px 0px 12px #00000029;
    background: white;

    .titleBox {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      margin: 0 auto;
      padding: 24px 0;

      font-size: 36px;
      color: #2e008b;
      word-break: break-word;

      @media only screen and (max-width: 570px) {
        flex-direction: column;
        margin: 0 8px;
        padding: 12px 0;

        font-size: 26px;
      }
    }

    .descriptionBox {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .description {
        font-family: Manrope, sans-serif;
        color: #414149;
        word-wrap: anywhere;
        margin-right: 40px;

        @media only screen and (max-width: 570px) {
          margin-right: 0;
        }
      }

      @media only screen and (max-width: 570px) {
        flex-direction: column;
        gap: 20px;
      }
    }

    .gatedForum {
      height: 24px;
      width: 24px;
      min-width: 24px;
    }

    @media only screen and (max-width: 570px) {
      padding: 0 24px 24px;
    }
  }

  .newAccessToken {
    width: 100%;
    padding: 12px;
    margin: 4px 0 24px;

    font-size: 14px;
    border-width: 1px;
    border-color: #d1d5db;
    border-radius: 6px;

    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }

  .addTokenGateSelect {
    padding: 8px;
    font-size: 14px;
    border-width: 1px;
    border-color: #b8b9dc;
    border-radius: 6px;
  }

  .gateCheckbox {
    display: flex;
    align-items: center;
    gap: 3px;
    padding-bottom: 16px;

    input {
      margin-top: 2px;
    }
  }

  .noRestriction {
    font-size: 14px;
    font-weight: 400;
    color: #86878e;
  }

  .currentToken {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 8px 0;

    font-size: 14px;
    font-weight: 400;
    color: #414149;

    .token {
      max-width: 365px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    svg {
      height: 16px;
      width: 16px;

      path {
        fill: #3f1d96;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .displayName {
      max-width: calc(100% - 8px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @media only screen and (max-width: 480px) {
        max-width: 310px;
      }

      @media only screen and (max-width: 370px) {
        max-width: 220px;
      }
    }
  }
  .addedIds {
    display: flex;
    align-items: center;
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: 400;
    color: #414149;

    .displayName {
      max-width: calc(100% - 8px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @media only screen and (max-width: 480px) {
        max-width: 310px;
      }

      @media only screen and (max-width: 370px) {
        max-width: 220px;
      }
    }
  }
  .createTopicButton {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    padding: 16px;
    border-radius: 6px;

    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    @media only screen and (max-width: 570px) {
      width: 100%;
    }

    &:hover {
      opacity: 0.85;
    }

    &:disabled {
      color: #7c7b7c;
      background: #ffffff;
      border: 1px solid #7c7b7c;
      cursor: not-allowed;

      svg path {
        fill: #7c7b7c;
      }
    }

    .buttonImageContainer {
      margin-right: 5px;
      height: 12px;
      width: 12px;
    }
  }

  .createTopicBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
  }

  .createTopicLabel {
    padding-left: 4px;
    padding-right: 4px;

    font-size: 16px;
    font-weight: 500;
  }

  .createTopicTitleInput {
    width: 100%;
    font-size: 14px;
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 16px;

    border-color: #d1d5db;
    border-width: 1px;
    border-radius: 6px;
  }

  .createTopicTitleInput:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .createTopicTextArea {
    padding-top: 4px;
    height: 144px;
  }

  .successBody {
    display: flex;
    flex-direction: column;
  }

  .toolsWrapper {
    min-height: 30px;
    margin: 0 10%;
    background: #fff;
    border-radius: 0 0 12px 12px;
    box-shadow: 0px 10px 12px 0px #00000029;

    @media only screen and (max-width: 570px) {
      margin: 0 5%;
    }
  }

  .moderatorToolsContainer {
    display: flex;
    align-items: center;
    padding: 20px 24px;

    border-top: 1px solid #b8b9dc;
    border-radius: 0 0 12px 12px;

    color: #414149;
    font-size: 12px;
    font-weight: 400;

    .lock {
      height: 12px;
      width: 12px;
      margin: 0 0 0 10px;
    }

    @media only screen and (max-width: 570px) {
      padding: 12px;
      gap: 14px;
      flex-wrap: wrap;
      justify-content: flex-start;

      .lock {
        margin: 0;
      }
    }

    .tools {
      display: flex;
      gap: 24px;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;

      @media only screen and (max-width: 570px) {
        gap: 20px;
        row-gap: 12px;

        .editForumContainer .editForumButton svg {
          margin-right: 16px;
        }
      }
    }
  }

  .moderatorTool {
    display: flex;
    align-items: center;

    background: transparent;
    color: #3f1d96;

    &:hover {
      opacity: 0.85;
    }

    &:disabled {
      opacity: 0.65;
      cursor: not-allowed;
    }
  }

  .addModeratorsButtons {
    height: 48px !important;
  }

  .addModeratorsBody {
    display: flex;
    flex-direction: column;
    justify-content: justify-end;
    margin-bottom: 12px;
    width: 100%;

    font-family: Manrope, sans-serif;
    font-size: 14px;

    ul {
      padding-left: 0;
      max-height: 260px;
      overflow-y: auto;
    }
  }

  .addModeratorsLabel {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
  }

  .addModeratorsInput {
    width: 100%;
    height: 32px;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
    margin-bottom: 24px;

    border-color: #d1d5db;
    border-width: 1px;
    border-radius: 6px;
  }

  .addModeratorsInput:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .currentModerators {
    display: flex;
    align-items: center;
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: 400;
    color: #414149;
  }

  .iconContainer {
    heigh: 22px;
    width: 22px;
    margin-right: 8px;
  }

  .forumContent {
    .okButton {
      margin: 0 0 0 auto;
      height: 48px;
      padding: 0 16px;
      border-radius: 6px;

      background: #3f1d96;
      color: white;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
      font-weight: 600;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }

      &.fetchModerators {
        margin: 16px auto 0;
      }

      @media only screen and (max-width: 570px) {
        width: 100%;
      }
    }

    .cancelButton {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 48px;
      padding: 0 16px;
      border-radius: 6px;
      border-width: 1px;
      border-color: #3f1d96;

      background: white;
      color: #3f1d96;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }

      @media only screen and (max-width: 570px) {
        width: 100%;
      }
    }
  }

  .topicListWrapper {
    margin: 0 10%;

    @media only screen and (max-width: 570px) {
      margin: 0 5%;
    }
  }
}
