@layer components {
  .forumContentHeader {
    height: auto;
    padding: 0 24px 48px;
  }

  .forumContentHeader .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .forumContentHeader .description {
    font-family: Manrope, sans-serif;
    color: #414149;

    margin-right: 40px;
  }

  .newAccessToken {
    width: 100%;
    padding: 12px;
    margin: 16px 0 24px;

    font-size: 14px;
    border-width: 1px;
    border-color: #d1d5db;
    border-radius: 6px;

    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }

  .gateCheckbox {
    display: flex;
    padding-bottom: 0.5rem;
  }

  .noRestriction {
    font-size: 14px;
    font-weight: 400;
    color: #86878e;
  }

  .currentToken {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 8px 0;

    font-size: 14px;
    font-weight: 400;
    color: #414149;

    svg {
      height: 16px;
      width: 16px;

      path {
        fill: #3f1d96;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .createTopicButton {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    padding: 16px;
    border-radius: 6px;

    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }

    &:disabled {
      color: #7c7b7c;
      background: #ffffff;
      border: 1px solid #7c7b7c;
      cursor: not-allowed;

      svg path {
        fill: #7c7b7c;
      }
    }

    .buttonImageContainer {
      margin-right: 5px;
      height: 12px;
      width: 12px;
    }
  }

  .createTopicBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
  }

  .createTopicLabel {
    padding-left: 4px;
    padding-right: 4px;

    font-size: 16px;
    font-weight: 500;
  }

  .createTopicTitleInput {
    width: 100%;
    font-size: 14px;
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 16px;

    border-color: #d1d5db;
    border-width: 1px;
    border-radius: 6px;
  }

  .createTopicTitleInput:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .createTopicTextArea {
    padding-top: 4px;
    height: 144px;
  }

  .successBody {
    display: flex;
    flex-direction: column;
  }

  .moderatorToolsContainer {
    display: flex;
    align-items: center;

    padding: 20px 24px;
    color: #414149;
    font-size: 12px;
    font-weight: 400;
    border-top: 1px solid #b8b9dc;
  }

  .moderatorTool {
    display: flex;
    align-items: center;

    margin-left: 24px;
    background: transparent;
    color: #3f1d96;

    &:hover {
      opacity: 0.85;
    }

    &:disabled {
      color: #7c7b7c;
      cursor: not-allowed;

      svg path {
        fill: #7c7b7c;
      }
    }
  }

  .addModeratorsButtons {
    height: 48px !important;
  }

  .addModeratorsBody {
    display: flex;
    flex-direction: column;
    justify-content: justify-end;
    margin-bottom: 12px;
    width: 100%;

    font-family: Manrope, sans-serif;
    font-size: 14px;

    ul {
      max-height: 260px;
      overflow-y: overlay;
    }
  }

  .addModeratorsLabel {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
  }

  .addModeratorsInput {
    width: 100%;
    height: 32px;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
    margin-bottom: 24px;

    border-color: #d1d5db;
    border-width: 1px;
    border-radius: 6px;
  }

  .addModeratorsInput:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .currentModerators {
    display: flex;
    align-items: center;
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: 400;
    color: #414149;
  }

  .iconContainer {
    heigh: 28px;
    width: 28px;
    margin-right: 8px;
  }

  .forumContent {
    .okButton {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      height: 48px;
      padding: 0 16px;
      border-radius: 6px;

      background: #3f1d96;
      color: white;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
      font-weight: 600;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    .cancelButton {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 48px;
      padding: 0 16px;
      border-radius: 6px;
      border-width: 1px;
      border-color: #3f1d96;

      background: white;
      color: #3f1d96;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
}
