@layer components {
  .emptyForumView {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Manrope, sans-serif;

    .emptyTitle {
      font-size: 40px;
      padding-bottom: 56px;
      text-align: center;
    }

    .emptySubTitle {
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      width: 650px;
      padding-bottom: 96px;
    }
  }

  .disconnectedView {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Manrope, sans-serif;
    font-size: 24px;
    font-weight: 500;

    width: 100%;
    margin-top: 64px;
    padding: 24px;

    background: white;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 16%);
    border-radius: 12px;
  }

  .createForumButtonContainer {
    display: flex;

    padding-top: 12px;
    font-size: 11.2px;
    color: #6b7280;

    .createForumIconContainer {
      margin-right: 8px;
      width: 16px;
      height: 16px;
    }
  }

  .acceptCreateForumButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .cancelCreateForumButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;
    height: 48px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #3f1d96;

    background: white;
    color: #3f1d96;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    &:hover {
      opacity: 0.85;
    }
  }

  .okInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .createForumBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    .createForumLabel {
      padding: 0 4px;
      font-size: 14px;
      font-weight: 500;
    }

    .createForumTitle {
      width: 100%;
      height: 32px;
      font-size: 14px;
      padding-left: 12px;
      padding-right: 12px;
      margin-top: 4px;
      margin-bottom: 16px;

      border-color: #3f1d96;
      border-width: 1px;
      border-radius: 6px;

      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }

    .createForumDescription {
      padding-top: 4px;
      height: 144px;
    }

    .createForumTextArea {
      margin-bottom: 0;
    }
  }

  .forumViewContainer {
    font-family: Manrope, sans-serif;
    min-height: 100%;
    width: 100%;

    .forumViewContent {
      min-height: 100%;
      width: 100%;

      .forumViewTitle {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding: 64px 24px 0;

        font-size: 36px;
      }

      .forumViewContentBox {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding: 24px 0;

        .forumLoading {
          padding-top: 192px;
        }
      }
    }
  }
}
