@layer components {
  .emptyForumView {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 64px;

    font-family: Manrope, sans-serif;

    .emptyTitle {
      font-size: 40px;
      text-align: center;
      color: #2e008b;

      padding-bottom: 1rem;
    }

    .emptySubTitle {
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      color: #414149;

      width: 650px;
      padding-bottom: 1rem;
    }
  }

  .disconnectedView {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Manrope, sans-serif;
    font-size: 24px;
    font-weight: 500;

    width: 100%;
    margin-top: 64px;
    padding: 24px;

    background: white;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 16%);
    border-radius: 12px;
  }

  .card-body {
    background: white;
  }

  .okInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.65;
    }

    &:disabled {
      color: #7c7b7c;
      background: #ffffff;
      border: 1px solid #7c7b7c;

      cursor: not-allowed;

      svg path {
        fill: #7c7b7c;
      }
    }
  }

  .successBody {
    display: flex;
    flex-direction: column;
  }

  .forumView {
    background: #f7f7fe;
  }

  .forumViewContainer {
    font-family: Manrope, sans-serif;
    background: #f7f7fe;

    height: 100%;
    width: 100%;

    .forumViewContent {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      min-height: calc(100vh - 80px);
      height: 100%;
      width: 100%;
      margin: 0;

      .forumLoading {
        padding-top: 192px;
      }

      @media only screen and (max-width: 570px) {
        margin: 0 8px;
      }
    }
  }
}
