@layer components {
  .manageModeratorsContainer {
    display: flex;

    .manageModeratorsButton {
      display: flex;
      align-items: center;

      background: transparent;
      color: #414149;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.65;
      }

      svg {
        height: 12px;
        width: 12px;
        margin-right: 6px;
      }
    }

    .manageModeratorsBody {
      display: flex;
      flex-direction: column;
      justify-content: justify-end;
      width: 100%;

      font-family: Manrope, sans-serif;
      font-size: 14px;

      ul {
        margin-top: 0;
        padding-left: 0;
        max-height: 260px;
        overflow-y: auto;
      }

      .manageModeratorsInput {
        width: 100%;
        height: 32px;
        font-size: 14px;
        padding: 16px;
        margin-top: 4px;
        margin-bottom: 24px;

        border-color: #d1d5db;
        border-width: 1px;
        border-radius: 6px;

        &:focus {
          outline: 2px solid transparent;
          outline-offset: 2px;
        }
      }

      .emptyList {
        align-items: flex-start;
        color: #86878e;
      }
    }

    .manageModeratorsLabel {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: 500;
    }

    .currentModerators {
      display: flex;
      align-items: center;
      margin: 0 0 8px 0;
      font-size: 14px;
      font-weight: 400;
      color: #414149;
    }

    .displayName {
      max-width: calc(100% - 8px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @media only screen and (max-width: 480px) {
        max-width: 310px;
      }

      @media only screen and (max-width: 370px) {
        max-width: 220px;
      }
    }

    .iconContainer {
      heigh: 22px;
      width: 22px;
      margin-right: 8px;
    }

    .okButton {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      height: 48px;
      padding: 0 16px;
      border-radius: 6px;

      background: #3f1d96;
      color: white;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
      font-weight: 600;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }

      &.fetchModerators {
        margin: 0 auto;
      }

      @media only screen and (max-width: 570px) {
        width: 100%;
      }
    }

    .cancelButton {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 48px;
      padding: 0 16px;
      border-radius: 6px;
      border-width: 1px;
      border-color: #3f1d96;

      background: white;
      color: #3f1d96;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }

      @media only screen and (max-width: 570px) {
        width: 100%;
      }
    }
  }
}
