@layer components {
  .notificationContainer {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 20px;
    grid-template-columns: auto 20px;
    align-content: center;

    width: 60%;
    margin: 0 auto 8px;
    padding: 18px 20px;
    transition: height 0.5s ease-out;
    background: white;
    text-transform: none;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);

    position: fixed;
    top: 5%;
    right: 0;
    left: 0;
    z-index: 999;

    @media only screen and (max-width: 570px) {
      width: 85%;
    }

    .closeContainer {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      cursor: pointer;
      height: min-content;

      svg {
        height: 12px;
        width: 12px;
      }
    }

    &.isHidden {
      height: 0;
      width: 0;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }

    &.info {
      background: #bdddf4;
    }

    &.success {
      background: #e8ffe0;
    }

    &.warning {
      background: #fff8ed;
    }

    &.error {
      background: #ffd0c6;
    }
  }

  .notificationText {
    color: #414149;
    font-weight: 400;
    font-size: 16px;

    display: flex;
    align-items: center;
    overflow-y: overlay;

    svg {
      height: 24px;
      width: 24px;
      margin-right: 6px;
    }

    .transactionLinkContainer {
      margin-left: 3px;
    }
  }
}
