@layer components {
  .postContentContainer {
    font-family: Manrope, sans-serif;

    background: white;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 16%);
    border-radius: 12px;

    margin: 40px 0;
    padding: 24px;
  }

  .deleteSpinner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 24px;
    margin: auto;
  }

  .acceptDeletePostButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .cancelDeletePostButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #3f1d96;

    background: white;
    color: #3f1d96;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    &:hover {
      opacity: 0.85;
    }
  }

  .okInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .postHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 16px;

    .posterId {
      display: flex;
      align-items: center;
    }

    .icon {
      height: 28px;
      width: 28px;
      margin-right: 4px;
    }

    .walletId {
      font-size: 14px;
      font-weight: 600;
      color: #4a279c;
    }

    .postedAt {
      font-size: 12px;
      font-weight: 300;
      color: #86878e;
    }
  }

  .postBody {
    color: #414149;
    font-size: 14px;

    margin-bottom: 12px;
  }

  .actionsContainer {
    display: flex;
    align-items: center;

    .deleteButton {
      border: 1px solid #3f1d96;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      width: 32px;
      height: 24px;
      max-height: 24px;
      padding: 8px;

      svg {
        path {
          fill: #3f1d96;
        }
      }

      &:disabled {
        border-color: #7c7b7c;
        color: #7c7b7c;
        cursor: not-allowed;

        svg path {
          fill: #7c7b7c;
        }
      }
    }

    .replyButton {
      border: 1px solid #3f1d96;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      height: 24px;
      max-height: 24px;
      padding: 8px;

      color: #3f1d96;
      font-size: 12px;

      &:disabled {
        border-color: #7c7b7c;
        color: #7c7b7c;
        cursor: not-allowed;

        svg path {
          fill: #7c7b7c;
        }
      }
    }

    .awardButton {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 24px;
      width: 28px;
      padding: 8px;
      margin-left: 10px;
      border: 1px solid #3f1d96;
      border-radius: 9999px;

      color: #3f1d96;
      font-size: 12px;

      &:disabled {
        border-color: #7c7b7c;
        color: #7c7b7c;
        cursor: not-allowed;

        svg path {
          fill: #7c7b7c;
        }
      }
    }

    .actionDivider {
      width: 1px;
      height: 22px;
      margin: 0 10px;

      background: #6e59b1;
    }
  }

  .repliesSection {
    margin-top: 16px;
    margin-left: 12px;
    padding-top: 2px;
    border-left-width: 1px;
    border-color: #b8b9dc;

    .repliesBox {
      padding-left: 24px;
    }

    .replyForm {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 24px;
      margin-bottom: 10px;
      padding-left: 24px;
    }

    .replyTextArea {
      height: 144px;
      width: 100%;
      padding: 8px 16px;
      margin-top: 4px;

      border-color: #4a279c;
      border-width: 1px;
      border-radius: 16px;

      font-size: 14px;
      background: transparent;

      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }

    .buttonsContainer {
      display: flex;
      align-items: center;
      margin-top: 24px;
    }

    .postReplyButton {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 48px;
      padding: 0 30px;
      border-radius: 10px;

      cursor: pointer;
      background: #3f1d96;
      color: white;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
      font-weight: 600;

      &:hover {
        opacity: 0.85;
      }
    }

    .cancelReplyButton {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0 16px;
      margin-right: 12px;
      height: 48px;
      border-radius: 10px;
      border-width: 1px;
      border-color: #3f1d96;

      background: white;
      color: #3f1d96;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}
