@layer components {
  .repliesContainer {
    font-family: Manrope, sans-serif;
  }

  .repliesDivider {
    border-top-width: 1px;
    border-color: #b8b9dc;
  }

  .replyContent {
    margin: 18px 0;
  }

  .replyHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 16px;

    .posterId {
      display: flex;
      align-items: center;
    }

    .icon {
      height: 28px;
      width: 28px;
      margin-right: 4px;
    }

    .walletId {
      font-size: 14px;
      font-weight: 400;
      color: #86878e;
    }

    .postedAt {
      font-size: 12px;
      font-weight: 300;
      color: #86878e;
    }
  }

  .replyBody {
    font-size: 16px;
    color: #414149;
    overflow-wrap: anywhere;

    margin-bottom: 20px;
  }

  .replyActionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;

    .leftBox {
      display: flex;
      align-items: center;
    }

    .rightBox {
      display: flex;

      .deleteButton {
        display: flex;
        align-items: center;
        min-height: 24px;
        width: auto;

        font-weight: 600;

        svg {
          height: 16px;
          width: 16px;

          path {
            fill: #86878e;
          }
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.65;
        }
      }

      .replyButton {
        display: flex;
        align-items: center;
        gap: 8px;

        height: 24px;
        max-height: 24px;

        color: #3f1d96;
        font-weight: 600;

        svg {
          height: 12px;
          width: 12px;

          path {
            fill: #3f1d96;
          }
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.65;
        }
      }

      .awardButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        color: #3f1d96;
        font-weight: 600;

        &:disabled {
          cursor: not-allowed;
          opacity: 0.65;
        }
      }
    }

    .actionDivider {
      width: 1px;
      height: 22px;
      margin: 0 10px;

      background: #cac9cb;
    }
  }
}
