@layer components {
  .repliesContainer {
    font-family: Manrope, sans-serif;
  }

  .repliesDivider {
    border-top-width: 1px;
    border-color: #b8b9dc;
  }

  .replyContent {
    margin: 18px 0;
  }

  .replyHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 16px;

    .posterId {
      display: flex;
      align-items: center;
    }

    .icon {
      height: 28px;
      width: 28px;
      margin-right: 4px;
    }

    .walletId {
      font-size: 14px;
      font-weight: 600;
      color: #4a279c;
    }

    .postedAt {
      font-size: 12px;
      font-weight: 300;
      color: #86878e;
    }
  }

  .replyBody {
    font-size: 14px;
    color: #414149;

    margin-bottom: 20px;
  }

  .replyActionsContainer {
    display: flex;
    align-items: center;
    text-transform: capitalize;

    .deleteButton {
      border: 1px solid #3f1d96;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      width: 32px;
      height: 24px;
      max-height: 24px;
      padding: 8px;

      svg {
        path {
          fill: #3f1d96;
        }
      }

      &:disabled {
        border-color: #7c7b7c;
        color: #7c7b7c;
        cursor: not-allowed;

        svg path {
          fill: #7c7b7c;
        }
      }
    }

    .replyButton {
      border: 1px solid #3f1d96;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      height: 24px;
      max-height: 24px;
      padding: 8px;

      color: #3f1d96;
      font-size: 12px;

      &:disabled {
        border-color: #7c7b7c;
        color: #7c7b7c;
        cursor: not-allowed;

        svg path {
          fill: #7c7b7c;
        }
      }
    }

    .awardButton {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 24px;
      width: 28px;
      padding: 8px;
      margin-left: 10px;
      border: 1px solid #3f1d96;
      border-radius: 9999px;

      color: #3f1d96;
      font-size: 12px;

      &:disabled {
        border-color: #7c7b7c;
        color: #7c7b7c;
        cursor: not-allowed;

        svg path {
          fill: #7c7b7c;
        }
      }
    }

    .actionDivider {
      width: 1px;
      height: 22px;
      margin: 0 10px;

      background: #6e59b1;
    }
  }
}
