@layer components {
  .postContentContainer {
    font-family: Manrope, sans-serif;

    background: white;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 16%);
    border-radius: 12px;

    margin: 40px 0;
    padding: 24px;
  }

  .deleteSpinner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 24px;
    margin: auto;
  }

  .acceptDeletePostButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .cancelDeletePostButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #3f1d96;

    background: white;
    color: #3f1d96;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    &:hover {
      opacity: 0.85;
    }
  }

  .okInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .postContentBox {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  .box {
    width: 100%;

    .postHeader {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 16px;

      .posterId {
        display: flex;
        align-items: center;
      }

      .icon {
        height: 28px;
        width: 28px;
        margin-right: 4px;
      }

      .walletId {
        display: flex;
        gap: 10px;

        font-size: 14px;
        font-weight: 400;
        color: #86878e;
      }

      .postedAt {
        font-size: 12px;
        font-weight: 300;
        color: #86878e;
        display: flex;
      }

      @media only screen and (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .postBody {
      color: #414149;
      font-size: 16px;
      overflow-wrap: anywhere;

      margin-bottom: 12px;
    }

    .actionsContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .deleteButton {
        display: flex;
        align-items: center;
        gap: 3px;

        font-size: 14px;
        font-weight: 600;
        color: #86878e;

        svg {
          width: 16px;
          height: 16px;

          path {
            fill: #86878e;
          }
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.65;
        }
      }

      .right {
        display: flex;
        align-items: center;
        margin: 0 0 0 auto;

        font-size: 14px;
        color: #3f1d96;

        .replyButton {
          display: flex;
          align-items: center;
          gap: 8px;

          height: 24px;
          max-height: 24px;
          padding: 8px;

          font-weight: 600;

          svg {
            height: 12px;
            width: 12px;

            path {
              fill: #3f1d96;
            }
          }

          &:disabled {
            cursor: not-allowed;
            opacity: 0.65;
          }
        }

        .awardButton {
          display: flex;
          align-items: center;
          justify-content: center;
          justify-content: center;
          gap: 8px;
          padding: 8px;

          font-weight: 600;

          &:disabled {
            cursor: not-allowed;
            opacity: 0.65;
          }
        }

        .actionDivider {
          width: 1px;
          height: 22px;
          margin: 0 10px;

          background: #cac9cb;
        }
      }
    }
  }

  .accountInfo {
    max-width: 15px;
    padding-left: 5px;
  }

  .repliesSection {
    margin-top: 16px;
    margin-left: 11px;
    border-left-width: 1px;
    border-color: #cac9cb;

    .repliesBox {
      padding-left: 24px;
    }

    .replyForm {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 24px;
      margin-bottom: 10px;
      padding-left: 24px;

      .textSize {
        font-size: 12px;
        color: gray;
        text-align: right;
      }
    }

    .replyTextArea {
      height: 144px;
      width: 100%;
      padding: 8px 16px;
      margin-top: 4px;

      border-color: #4a279c;
      border-width: 1px;
      border-radius: 16px;

      font-size: 14px;
      background: transparent;

      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      &:disabled {
        cursor: not-allowed;
        background: #ededed57;
        border: 1px solid #9ca3af;
      }
    }

    .buttonsContainer {
      display: flex;
      align-items: center;
      margin-top: 24px;
    }

    .postReplyButton {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 48px;
      padding: 0 30px;
      border-radius: 10px;

      cursor: pointer;
      background: #3f1d96;
      color: white;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
      font-weight: 600;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        background: #ededed57;
        border: 1px solid #9ca3af;
        color: #9ca3af;
      }
    }

    .cancelReplyButton {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0 16px;
      margin-right: 12px;
      height: 48px;
      border-radius: 10px;
      border-width: 1px;
      border-color: #3f1d96;

      background: white;
      color: #3f1d96;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        background: #ededed57;
        border: 1px solid #9ca3af;
        color: #9ca3af;
      }
    }
  }
}
