@layer components {
  .postContentContainer {
    font-family: Manrope, sans-serif;

    background: white;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 16%);
    border-radius: 12px;

    margin: 40px 0;
    padding: 24px;

    &.inFlight {
      opacity: 0.75;
      cursor: progress;
      background: #bdddf445;
    }
  }

  .deleteSpinner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 24px;
    margin: auto;
  }

  .acceptDeletePostButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    @media only screen and (max-width: 570px) {
      width: 100%;
    }

    &:hover {
      opacity: 0.85;
    }
  }

  .cancelDeletePostButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #3f1d96;

    background: white;
    color: #3f1d96;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    &:hover {
      opacity: 0.85;
    }
  }

  .okInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .postContentBox {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  .box {
    width: 100%;

    .postHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 16px;

      @media only screen and (max-width: 480px) {
        align-items: center;
        flex-wrap: wrap;
      }

      .posterId {
        display: flex;
        align-items: center;
        margin-right: 30px;
      }

      .icon {
        height: 28px;
        width: 28px;
        margin-right: 4px;

        @media only screen and (max-width: 570px) {
          height: 16px;
          width: 16px;
        }
      }

      .walletId {
        font-size: 14px;
        font-weight: 400;
        color: #86878e;
        margin-right: 10px;

        @media only screen and (max-width: 768px) {
          max-width: 120px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        @media only screen and (max-width: 570px) {
          font-size: 12px;
        }

        @media only screen and (max-width: 480px) {
          max-width: 80px;
        }
      }

      .postedAt {
        font-size: 12px;
        font-weight: 300;
        color: #86878e;

        display: flex;
        align-items: center;
      }

      .posting {
        width: 36px;

        svg {
          height: 14px;
        }
      }
    }

    .postBody {
      color: #414149;
      font-size: 16px;
      overflow-wrap: anywhere;

      margin-bottom: 12px;
    }

    .actionsContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .deleteButton {
        display: flex;
        align-items: center;
        gap: 3px;

        font-size: 14px;
        font-weight: 600;
        color: #86878e;

        svg {
          width: 16px;
          height: 16px;

          path {
            fill: #86878e;
          }
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.65;
        }
      }

      .right {
        display: flex;
        align-items: center;
        margin: 0 0 0 auto;

        font-size: 14px;
        color: #3f1d96;

        .replyButton {
          display: flex;
          align-items: center;
          gap: 8px;

          height: 24px;
          max-height: 24px;
          padding: 8px;

          font-weight: 600;

          svg {
            height: 12px;
            width: 12px;

            path {
              fill: #3f1d96;
            }
          }

          span {
            @media only screen and (max-width: 768px) {
              display: none;
            }
          }

          &:disabled {
            cursor: not-allowed;
            opacity: 0.65;
          }
        }

        .awardButton {
          display: flex;
          align-items: center;
          justify-content: center;
          justify-content: center;
          gap: 8px;
          padding: 8px;

          font-weight: 600;

          span {
            @media only screen and (max-width: 768px) {
              display: none;
            }
          }

          &:disabled {
            cursor: not-allowed;
            opacity: 0.65;
          }
        }

        .actionDivider {
          width: 1px;
          height: 22px;
          margin: 0 10px;

          background: #cac9cb;
        }
      }
    }
  }

  .repliesSection {
    margin-top: 16px;
    margin-left: 11px;
    border-left-width: 1px;
    border-color: #cac9cb;

    .repliesBox {
      padding-left: 24px;
    }

    .replyFormContainer {
      visibility: hidden;
      height: 0;
      transition: height 0.1s ease-out;

      &.visible {
        height: auto;
        visibility: visible;
      }

      .replyForm {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 24px;
        margin-bottom: 10px;
        padding-left: 24px;

        .textSize {
          font-size: 12px;
          color: gray;
          text-align: right;
        }
      }
    }

    .replyTextArea {
      height: 144px;
      width: 100%;
      padding: 8px 16px;
      margin-top: 4px;

      border-color: #4a279c;
      border-width: 1px;
      border-radius: 16px;

      font-size: 14px;
      background: transparent;

      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      &:disabled {
        cursor: not-allowed;
        background: #ededed57;
        border: 1px solid #9ca3af;
      }
    }

    .buttonsWrapper {
      margin-top: 24px;
      display: flex;
      align-items: flex-start;
      width: 100%;

      @media only screen and (max-width: 570px) {
        margin-top: 12px;
        flex-direction: column;
        gap: 8px;
      }
    }

    .buttonsContainer {
      display: flex;
      align-items: center;
      gap: 8px;

      @media only screen and (max-width: 570px) {
        width: 100%;
        flex-direction: column-reverse;
        gap: 8px;
      }
    }

    .addGIFButton {
      display: flex;
      align-items: center;
      height: 26px;
      padding: 5px;
      margin: 0 auto 0 0;

      border-radius: 4px;
      border: 1px solid #3f1d96;

      color: #3f1d96;
      text-align: center;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    .postReplyButton {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      height: 48px;
      padding: 0 30px;
      border-radius: 10px;

      cursor: pointer;
      background: #3f1d96;
      color: white;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
      font-weight: 600;

      @media only screen and (max-width: 570px) {
        width: 100%;
      }

      .loading {
        height: 18px;
        width: 18px;

        svg {
          margin-right: 0;
        }
      }

      &.inFlight {
        cursor: not-allowed;
        background: #ededed57;
        border: 1px solid #9ca3af;
        color: #9ca3af;
      }

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    .cancelReplyButton {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0 16px;
      height: 48px;

      background: white;
      color: #3f1d96;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;

      @media only screen and (max-width: 570px) {
        width: 100%;
      }

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        background: #ededed57;
        border: 1px solid #9ca3af;
        color: #9ca3af;
      }
    }
  }
}
