@layer components {
  .replyContent {
    padding: 18px 0;

    &.inFlight {
      opacity: 0.75;
      cursor: progress;
      background: #bdddf445;
      padding: 18px 18px;
      border-radius: 12px;
      display: contents;
    }
  }

  .replyHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 16px;

    @media only screen and (max-width: 570px) {
      flex-wrap: wrap;
    }

    .posterId {
      display: flex;
      align-items: center;
      margin-right: 20px;

      @media only screen and (max-width: 768px) {
        margin-right: 4px;
      }
    }

    .icon {
      height: 28px;
      width: 28px;
      margin-right: 4px;

      @media only screen and (max-width: 570px) {
        height: 16px;
        width: 16px;
      }
    }

    .walletId {
      margin-right: 10px;

      font-size: 14px;
      font-weight: 400;
      color: #86878e;

      @media only screen and (max-width: 768px) {
        max-width: 70px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 7px;
      }

      @media only screen and (max-width: 570px) {
        font-size: 12px;
      }

      @media only screen and (max-width: 480px) {
        max-width: 70px;
        margin-right: 2px;
      }
    }

    .postedAt {
      font-size: 12px;
      font-weight: 300;
      color: #86878e;
      display: flex;
    }

    .posting {
      width: 36px;

      svg {
        height: 14px;
      }
    }
  }

  .replyBody {
    font-size: 16px;
    color: #414149;
    overflow-wrap: anywhere;

    margin-bottom: 20px;
  }

  .replyActionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;

    .leftBox {
      display: flex;
      align-items: center;
    }

    .rightBox {
      display: flex;

      .deleteButton {
        display: flex;
        align-items: center;
        min-height: 24px;
        width: auto;

        font-weight: 600;

        svg {
          height: 16px;
          width: 16px;

          path {
            fill: #86878e;
          }
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.65;
        }
      }

      .awardButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        color: #3f1d96;
        font-weight: 600;

        span {
          @media only screen and (max-width: 768px) {
            display: none;
          }
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.65;
        }
      }
    }

    .actionDivider {
      width: 1px;
      height: 22px;
      margin: 0 10px;

      background: #cac9cb;
    }
  }
}
