@layer components {
  .tooltipContainer {
  }

  .tooltipContent {
    display: flex;
    align-items: center;

    position: relative;

    &:hover .tooltipMessage {
      visibility: visible;
    }
  }

  .tooltipMessage {
    color: #414149;
    font-weight: 400;
    font-size: 13px;

    width: 357px;
    padding: 12px;
    background: #bdddf4;
    box-shadow: 0px 4px 12px rgb(65 65 73 / 16%);
    border-radius: 4px;

    /* Position the tooltip */
    visibility: hidden;
    position: absolute;
    left: 16px;
    bottom: 10px;
    z-index: 1;
  }
}
