@layer components {
  .tooltipContainer {
    position: relative;

    &.visible {
      .tooltipMessage {
        visibility: visible;
        width: 360px;

        @media only screen and (max-width: 768px) {
          width: 290px;
        }

        @media only screen and (max-width: 570px) {
          width: 250px;
        }

        @media only screen and (max-width: 480px) {
          width: 220px;
          left: -60px;
          bottom: 17px;
        }
      }
    }
  }

  .tooltipContent {
    display: flex;
    align-items: center;
  }

  .tooltipMessage {
    color: #414149;
    font-weight: 400;
    font-size: 13px;

    width: 0;
    padding: 12px;
    background: #bdddf4;
    box-shadow: 0px 4px 12px rgb(65 65 73 / 16%);
    border-radius: 4px;

    /* Position the tooltip */
    visibility: hidden;
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 1;
  }
}
