@layer components {
  .toolsWrapper {
    position: relative;
  }

  .gearToolButton {
    background: #f7f7fe;
    box-shadow: 0px 10px 12px rgb(0 0 0 / 5%);
    border-radius: 4px;
    padding: 8px;
  }

  .toolItemsContainer {
    background: #ffffff;
    border-radius: 6px;
    padding: 0 18px;
    width: 240px;
    box-shadow: 0 10px 12px #00000021;
    border: 1px solid #eeedf0;

    position: absolute;
    top: 35px;
    right: 0;
    z-index: 999;
    transition: height 0.5s ease-out;

    &.hide {
      height: 0;
      width: 0;
      overflow: hidden;
      padding: 0;
      border: none;
    }
  }

  .toolItem {
    border-bottom: 1px solid #eeedf0;

    &:last-child {
      border-bottom: none;
    }

    .manageOwnersButton,
    .manageModeratorsButton,
    .customizeBannerButton,
    .moderatorTool,
    .editForumButton {
      padding: 18px 0;
    }

    .moderatorTool {
      color: #414149;
      width: 100%;
      display: flex;
      justify-content: space-between;

      svg {
        height: 12px;
        width: 12px;

        path {
          stroke: #434249;
        }
      }

      &:hover {
        opacity: 1;
        font-weight: 500;
      }
    }
  }

  .moderatorToolsContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0;
    border-radius: 0 0 12px 12px;

    color: #414149;
    font-size: 12px;
    font-weight: 400;

    .lock {
      height: 12px;
      width: 12px;
      margin: 0 0 0 10px;
    }

    @media only screen and (max-width: 570px) {
      gap: 14px;
      flex-wrap: wrap;
      justify-content: flex-start;

      .lock {
        margin: 0;
      }
    }
  }
}
