@layer components {
  .deleteSpinner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 24px;
    margin: auto;
  }

  .acceptDeleteTopicButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .cancelDeleteTopicButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #3f1d96;

    background: white;
    color: #3f1d96;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    &:hover {
      opacity: 0.85;
    }
  }

  .okInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .topicContentBox {
    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
    border-radius: 12px;

    padding: 24px 24px 0;

    .topicHeader {
      font-family: Manrope, sans-serif;
      margin-top: 16px;
      margin-bottom: 48px;

      .topicTitle {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 40px;
      }

      .left {
        display: flex;
        flex-direction: column;

        .subj {
          font-weight: 600;
          font-size: 20px;
          color: #1e1e26;

          padding-bottom: 6px;
        }

        .poster {
          display: flex;
          align-items: center;
        }

        .icon {
          height: 22px;
          width: 22px;
          margin-right: 4px;
        }

        .posterId {
          color: #414149;
          font-size: 12px;
          font-weight: 400;
        }
      }

      .postedAt {
        font-size: 12px;
        font-weight: 300;
        color: #86878e;
      }

      .topicBody {
        font-size: 14px;
        color: #414149;
      }
    }

    .data {
      display: flex;
      justify-content: flex-start;

      font-family: Manrope, sans-serif;
      font-weight: 300;
      font-size: 12px;
      color: #1f2937;

      padding-bottom: 12px;

      .commentsContainer {
        display: flex;
        align-items: center;
        padding-right: 6px;
        cursor: default;
        color: #7b7b7b;

        .image {
          height: 12px;
          margin-right: 4px;

          svg {
            path {
              fill: #7b7b7b;
            }
          }
        }
      }

      .moderatorToolsContainer {
        display: flex;
        align-items: center;

        padding: 0;
        border: none;
        color: #414149;
        font-size: 12px;
        font-weight: 400;
        border-top: 0;

        .moderatorTool {
          display: flex;
          align-items: center;

          margin-left: 14px;
          background: transparent;
          color: #3f1d96;

          &:hover {
            opacity: 0.85;
          }

          &:disabled {
            color: #7c7b7c;
            cursor: not-allowed;

            svg path {
              fill: #7c7b7c;
            }
          }
        }
      }

      .lock {
        margin-right: 4px;
        height: 12px;
        width: 12px;
      }

      .deleteButton {
        margin: 0;
      }

      .delete {
        margin-right: 4px;
        height: 12px;
        width: 12px;

        svg {
          path {
            fill: #3f1d96;
          }
        }
      }

      .actionDivider {
        width: 1px;
        margin: 0 10px;

        background: #b8b9dc;
      }
    }
  }
}
