@layer components {
  .topicListContainerMobile {
    font-family: Manrope, sans-serif;

    margin: 0;
    overflow-x: auto;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
    border-radius: 8px;

    .topicListContentMobile {
      width: 100%;
      background: #f7f7fe;
      padding-top: 20px;
    }
  }

  .emptyTopicListMobile {
    background: #f7f7fe;
    width: 100%;
    min-width: 100%;
    padding: 20px 24px 64px;
    font-size: 20px;
    font-weight: 400;
  }
}
