@layer components {
  .topicListContainerMobile {
    font-family: Manrope, sans-serif;

    margin: 0;
    overflow-x: auto;

    box-shadow: 0 1px 12px 0px #00000024;

    .topicListContentMobile {
      width: 100%;
    }
  }

  .emptyTopicListMobile {
    background: #f7f7fe;
    width: 100%;
    min-width: 100%;
    padding: 20px 24px 64px;
    font-size: 20px;
    font-weight: 400;
  }
}
