.TopicListRowAsMobileLink {
  text-decoration: none;
}

.topicListRowAsMobileContainer {
  background-color: white;
  padding: 16;
  margin-bottom: 10px;
}

.topicListRowAsMobileTitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2e008b;
  margin-bottom: 4px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.topicListRowAsMobileBody {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #414149;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.topicListRowAsMobileBottomData {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.topicListRowAsMobileLastActivity {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #86878e;
}

.topicListRowAsMobilecommentsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 0 0 0;

  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #414149;
}

.topicListRowAsMobileImage {
  display: flex;
  align-items: center;
  margin-right: 4px;
  svg {
    height: 16px;
    width: 16px;

    path {
      fill: #7b7b7b;
    }
  }
}

.topicListRowAsMobileNumberOfReplies {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #414149;
}

.topicListRowAsMobilecommentsComments {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
}

.topicListRowAsMobileVotesContainer {
  display: flex;
  align-items: center;
}

.topicListRowAsMobileVotes {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #414149;
  margin-left: 4px;
  margin-right: 4px;
}
