.TopicListRowAsMobileLink {
  text-decoration: none;
}

.topicListRowAsMobileContainer {
  border-bottom: 1px solid #B8B9DC;
  margin-top: 16px;
  margin-bottom: 16px;
}

.topicListRowAsMobileTitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2E008B;
  margin-bottom: 4px;
}

.topicListRowAsMobileBody {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #414149;
}

.topicListRowAsMobileBottomData {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 12px;
}

.topicListRowAsMobileLastActivity {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #86878E;
}

.topicListRowAsMobilecommentsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 0 0 0;

  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #414149;
}

.topicListRowAsMobileImage {
  display: flex;
  align-items: center;
  margin-right: 4px;
  svg {
    height: 16px;
    width: 16px;

    path {
      fill: #7b7b7b;
    }
  }
}

.topicListRowAsMobileNumberOfReplies {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #414149;
}

.topicListRowAsMobilecommentsComments {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
}

.topicListRowAsMobileVotesContainer {
  display: flex;
  align-items: center;  
}

.topicListRowAsMobileVotes {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #414149;
  margin-left: 4px;
  margin-right: 4px;
}
