@layer components {
  .deleteSpinner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 24px;
    margin: auto;
  }

  .acceptDeleteTopicButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .cancelDeleteTopicButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #3f1d96;

    background: white;
    color: #3f1d96;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    &:hover {
      opacity: 0.85;
    }
  }

  .okInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .topicContentBox {
    display: flex;
    gap: 24px;
    padding: 24px;

    background: white;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 16%);
    border-radius: 12px;

    .activityInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .votePostContent {
        flex-direction: column;
      }

      .commentsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #414149;

        .image {
          svg {
            height: 16px;
            width: 16px;

            path {
              fill: #7b7b7b;
            }
          }
        }
      }
    }

    .headerAndActions {
      width: 100%;

      .topicHeader {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;

        font-family: Manrope, sans-serif;

        .topicTitle {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          width: 100%;
          padding-bottom: 16px;
        }

        .posted {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          color: #86878e;
          font-weight: 300;
          font-size: 12px;

          .postedBy {
            display: flex;
            align-items: center;
          }

          .icon {
            display: flex;
            height: 16px;
            width: 16px;
            margin: 0 2px 0 6px;
            align-items: center;
          }

          .posterId {
            color: #1e1e26;
            font-weight: 400;
          }
        }

        .subj {
          padding-top: 16px;
          font-weight: 600;
          font-size: 16px;
        }

        .topicBody {
          font-size: 14px;
          color: #414149;
        }
      }

      .moderatorToolsContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 18px 18px;
        border: none;
        color: #414149;
        font-size: 14px;

        .moderatorTool {
          display: flex;
          align-items: center;
          margin: 0;

          background: transparent;
          color: #86878e;
          font-weight: 600;

          &:hover {
            opacity: 0.85;
          }

          &:disabled {
            opacity: 0.75;
            cursor: not-allowed;

            svg path {
              opacity: 0.75;
            }
          }
        }

        .lock {
          margin-right: 4px;
          height: 12px;
          width: 12px;
        }

        .deleteButton {
          margin: 0;
        }

        .delete {
          margin-right: 4px;
          height: 18px;
          width: 18px;

          svg {
            path {
              fill: #86878e;
            }
          }
        }

        .awardButton {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;

          padding: 8px;
          font-weight: 600;
          color: #3f1d96;

          svg {
            height: 18px;
            width: 18px;
          }

          &:hover {
            opacity: 0.85;
          }

          &:disabled {
            cursor: not-allowed;

            svg path {
              fill: #7c7b7c;
            }
          }
        }

        .actionDivider {
          width: 1px;
          margin: 0 10px;

          background: #b8b9dc;
        }
      }
    }
  }
}
