.TopicListRowAsMobileLink {
  text-decoration: none;
}

.topicListRowAsMobileContainer {
  border-bottom: 1px solid #B8B9DC;
  margin-top: 16px;
  margin-bottom: 16px;
}

.topicListRowAsMobileTitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1E1E26;
  margin-bottom: 15px;
}

.topicListRowAsMobilePostersContainer {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #414149;
}

.topicListRowAsMobilePostersText {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-right: 4px;
}

.topicListRowAsMobileBottomData {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  color: #86878E;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
