@layer components {
  .topicListContainer {
    font-family: Manrope, sans-serif;

    margin: 24px 0 16px;
    padding: 24px;

    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
    border-radius: 12px;

    .tableContainer {
      width: 100%;

      .table {
        position: relative;
        text-align: left;
      }
      .table th:first-child {
        position: sticky;
        position: -webkit-sticky;
        left: 0;
        z-index: 10;
      }
      .table :where(th, td) {
        padding: 16px;
        vertical-align: middle;
        white-space: nowrap;
      }
    }

    .tableHeader {
      border-bottom-width: 1px;
      border-color: #2e008b;

      .tableHeaderTitle {
        color: #2e008b;

        padding-bottom: 8px;
      }

      .tableHeaderText {
        font-weight: 400;
        font-size: 22px;
        text-align: left;
        text-transform: none;

        &.posters {
          font-size: 20px;

          width: 280px;
          max-width: 280px;
          min-width: 280px;
        }
      }

      .tableHeaderTextCenter {
        text-align: center;
        text-transform: none;
        font-weight: 400;
        font-size: 20px;

        width: 120px;
        max-width: 120px;
        min-width: 120px;
      }
    }
  }

  .topicListSpinner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 24px;
    margin: auto;
  }

  .emptyTopicList {
    width: 100%;
    min-width: 100%;
    padding-top: 64px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .acceptDeleteTopicButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;

    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .cancelDeleteTopicButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;
    height: 48px;
    border-radius: 10px;
    border: solid 1px #3f1d96;

    background: white;
    color: #3f1d96;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    &:hover {
      opacity: 0.85;
    }
  }

  .okInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .rowContentIcons {
    display: flex;
    align-items: center;

    .icon {
      height: 28px;
      width: 28px;
      margin-right: 4px;
    }
  }

  .rowSpinner {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 28px;
    width: 28px;
    margin: auto;
  }

  .row {
    border-bottom: 1px solid #b8b9dc;
    height: 4rem;

    &:hover {
      background: #dbeafe;
    }

    a {
      cursor: pointer;
    }

    .rowSubj {
      width: 100%;

      font-weight: 600;
      text-align: left;

      .textBox {
        max-width: 600px;
        width: 600px;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .rowIconReplies {
      height: inherit;
      width: 280px;
      max-width: 280px;
      min-width: 280px;

      display: flex;
      align-items: center;
    }

    .rowAmountReplies {
      max-width: 120px;
      width: 120px;

      color: #414149;
      text-align: center;
    }

    .rowDate {
      max-width: 120px;
      width: 120px;

      color: #414149;
      text-align: center;
    }
  }
}
