@layer components {
  .rowContentIcons {
    display: flex;
    align-items: center;

    .icon {
      height: 28px;
      width: 28px;
      margin-right: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .rowWrapper {
    cursor: pointer;
    text-decoration: none;
  }

  .row {
    padding: 24px;
    background: #f7f7fe;
    border-bottom: 1px solid #eeedf0;

    &.clear {
      background: white;
    }

    &.topicInFlight {
      background: #bdddf445;
      cursor: not-allowed;

      .rowSubjInFlight {
        opacity: 0.75;
        display: flex;
        align-items: center;
        gap: 20px;

        .titleInFlight {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .confirmingTopic {
        display: flex;
        align-items: center;
        gap: 5px;

        max-width: 100px;
        width: 100px;
        padding: 0 5px;
        font-weight: 400;
        font-size: 14px;
        color: #414149;
      }

      .loading {
        height: 18px;
        width: 18px;

        svg {
          margin-right: 0;
        }
      }
    }

    &:hover {
      background: #e0e0f7;
    }

    .rowHeader {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;

      color: #86878e;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;

      .rowPosterInfo {
        display: flex;
        align-items: center;
        gap: 6px;

        .topicPosterIcon {
          height: 24px;
          width: 24px;
        }
      }

      .topicDate {
        text-align: center;
      }
    }

    .rowSubj {
      width: 100%;
      max-width: 600px;

      color: #414149;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;

      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .rowActivity {
      display: flex;
      justify-content: space-between;
      padding-top: 16px;

      color: #85838e;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;

      .rowReplies {
        display: flex;
        gap: 5px;
        align-items: center;

        svg {
          width: 14px;

          path {
            fill: #85838e;
          }
        }
      }

      .currentVotes {
        color: #85838e;
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
}
