@layer components {
  .topicListContainer {
    font-family: Manrope, sans-serif;

    margin: 48px 0 16px;
    padding: 24px;
    overflow-x: auto;

    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
    border-radius: 8px;

    .tableContainer {
      width: 100%;

      .table {
        position: relative;
        text-align: left;
      }

      .table th:first-child {
        position: sticky;
        position: -webkit-sticky;
        left: 0;
        z-index: 10;
      }

      .table :where(th, td) {
        padding: 16px;
        vertical-align: middle;
        white-space: nowrap;
      }
    }

    .tableHeader {
      border-bottom-width: 1px;
      border-color: #2e008b;

      .tableHeaderTitle {
        color: #2e008b;

        padding-bottom: 8px;
      }

      .tableHeaderText {
        min-width: 600px;

        font-weight: 400;
        font-size: 22px;
        text-align: left;
        text-transform: none;

        &.posters {
          font-size: 20px;

          width: 280px;
          margin: 0 0 0 auto;
          max-width: 280px;
          min-width: 280px;
        }
      }

      .tableHeaderTextCenter {
        text-align: center;
        text-transform: none;
        font-weight: 400;
        font-size: 20px;

        width: 120px;
        margin: 0 0 0 auto;
        max-width: 120px;
        min-width: 120px;
      }
    }

    @media only screen and (max-width: 768px) {
      box-shadow: unset;
      background-color: transparent;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .topicListSpinner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 24px;
    margin: auto;
  }

  /* .inFlight {
    opacity: 0.75;
    background: #bdddf445;
    width: 100%;

    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  } */

  .emptyTopicList {
    width: 100%;
    min-width: 100%;
    padding-top: 64px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    @media only screen and (max-width: 768px) {
      padding-top: 40px;
    }
  }

  .acceptDeleteTopicButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 10px;

    cursor: pointer;

    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  .cancelDeleteTopicButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;
    height: 48px;
    border-radius: 10px;
    border: solid 1px #3f1d96;

    background: white;
    color: #3f1d96;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    &:hover {
      opacity: 0.85;
    }
  }

  .okInfoButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: #3f1d96;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }
}
