@layer components {
  .transactionLinkContainer {
    .transactionLink {
      cursor: pointer;
      text-decoration: underline;
      font-weight: 600;
      color: #58a6ff;

      margin-left: 3px;

      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      &:focus-visible {
        box-shadow: 0 0 0 2px currentColor;
      }
    }
  }
}
