@layer components {
  .votePostContainer {
    display: flex;
    flex-direction: column;

    padding: 0;
  }

  .votePostContent {
    display: flex;
    align-items: center;
  }

  .spinnerContainer {
    margin-left: 8px;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
  }

  .votePostButton {
    display: flex;
    align-items: center;

    &.upVote:hover {
      svg path {
        stroke: #84b971;
      }
    }

    &.downVote:hover {
      svg path {
        stroke: #e86143;
      }
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .currentVotes {
    padding: 11px 8px;

    font-weight: 600;
    font-size: 14px;
    color: #414149;
  }

  .okButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: #4a279c;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
  }
}
