@layer components {
  .votePostContainer {
    padding: 0 16px;
    border-left: 1px solid #6e59b1;
  }

  .votePostContent {
    display: flex;
    align-items: center;
  }

  .spinnerContainer {
    margin-left: 8px;
    padding-bottom: 0;
    width: 24px;
    height: 24px;
    display: flex;
  }

  .votePostButton {
    border: 1px solid #3f1d96;
    border-radius: 9999px;

    display: flex;
    align-items: center;
    width: 32px;
    height: 24px;
    max-height: 24px;

    padding: 8px;

    svg {
      path {
        fill: #3f1d96;
      }
    }

    &:hover {
      opacity: 0.65;
    }

    &:disabled {
      border-color: #7c7b7c;
      color: #7c7b7c;
      cursor: not-allowed;

      svg path {
        fill: #7c7b7c;
      }
    }
  }

  .currentVotes {
    padding: 0 6px;

    color: #6e59b1;
    font-weight: 400;
    font-size: 12px;
  }

  .okButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 30px;
    border-radius: 6px;

    cursor: pointer;
    background: rgba(31, 41, 55, 1);
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
  }
}
