@layer components {
  @font-face {
    font-family: 'BN BOOP';
    font-style: normal;
    font-weight: normal;
    src: url('https://aiqrzujttjxgjhumjcky.supabase.co/storage/v1/object/public/forum-images/BNBoop.otf')
      format('opentype');
  }

  .degenApeAcademy {
    /* NOTIFICATION */
    .alertContent {
      background: #30302e;
      border: 1px solid #999999;

      .alertText {
        color: white;
      }
    }

    .notificationContainer {
      .closeContainer svg path {
        stroke: white;
        fill: white;
      }

      &.info {
        background: #30302e;
        border: 1px solid #397bad;
      }

      &.error {
        background: #30302e;
        border: 1px solid #e86143;
      }

      &.warning {
        background: #30302e;
        border: 1px solid #ffb549;
      }

      &.success {
        background: #30302e;
        border: 1px solid #84b971;
      }
    }

    .notificationText {
      font-weight: 500;
      font-size: 14px;
      color: white;
    }

    /* POPUP MODAL */
    .popUpModal {
      .modalContainer .modalBox {
        color: white;
        background: #30302e;
        border: 1px solid #999999;
      }

      .modalClose .closeIcon {
        svg path {
          fill: white;
        }
      }

      .modalActionsContainer .acceptAction .okButton,
      .modalActionsContainer .acceptAction .okInfoButton {
        background: #141313;
        border: 1px solid white;
        color: white;
      }
    }

    .collapsibleContainer {
      background: #d9d9d9;
      color: #30302e;
      border: 1px solid #999999;

      .visibilityButton {
        svg path {
          stroke: #30302e;
        }
      }
    }

    /* FORUM */
    .forumView,
    .forumViewContainer {
      background: #141313;
    }

    .forumContentHeader {
      background: #1d1c1c;
      font-family: 'BN BOOP', 'sans-serif';

      .titleBox,
      .description {
        color: #ffffff;
      }
    }

    .toolsWrapper {
      background: #1d1c1c;
    }

    .moderatorToolsContainer {
      background: #1d1c1c;
      border-top: 1px solid white;
      color: #999999;

      .manageOwnersButton,
      .manageModeratorsButton,
      .moderatorTool,
      .editForumButton {
        color: #d1d1d1;
      }

      .actionDivider {
        background: white;
      }
    }

    .customizeBanner {
      .customizeBannerButton {
        background: #1d1c1c;

        svg path {
          stroke: white;
        }

        &:hover {
          color: white;
          border-color: white;

          svg path {
            stroke: white;
          }
        }
      }

      .uploadImageWrapper {
        .imageSrcInput {
          color: black;
        }

        .imageContainer {
          color: black;
          background: #999;
          border: 2px dashed white;
        }
      }
    }

    .createTopicButton {
      background: #141313;
      border: 2px solid #f2f2f0;

      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
    }

    .newAccessToken,
    .createTopicTitleInput {
      color: black;
    }

    .gatedForum,
    .lock,
    .editForumButton {
      svg path {
        stroke: white;
      }
    }

    .forumContent {
      .cancelButton {
        color: white;
        background: transparent;
        border-color: white;
      }
      .okButton {
        background: #141313;
        border: 1px solid white;
        color: white;
      }
    }

    .editForumContainer .editForumBody .editForumInput,
    .editForumContainer .editForumBody .editForumInput.description {
      color: black;
    }

    .manageOwnersContainer .okButton.add {
      background: transparent;
      border: none;
      color: white;
    }

    .manageOwnersInput,
    .manageModeratorsInput {
      color: black;
    }

    .manageModeratorsContainer .currentModerators,
    .manageOwnersContainer .currentOwners,
    .currentToken {
      color: #999;
    }

    .currentToken svg path {
      fill: #b0b0b0;
    }

    /* TOPIC LIST */
    .topicListContainer,
    .emptyTopicList {
      background: #1d1c1c;
      color: white;
    }

    @media only screen and (max-width: 768px) {
      .topicListContainer {
        box-shadow: 0px 4px 12px rgb(0 0 0 / 16%),
          inset -4px 0px 8px 0 rgb(255 255 255 / 16%);
      }
    }

    .current {
      display: flex;
    }

    .tableHeader {
      border-color: white;
      font-family: 'BN BOOP', 'sans-serif';
    }

    .topicListContainer .tableHeader .tableHeaderTitle {
      color: white;
    }

    .row {
      border-bottom: 1px solid white;
      font-weight: 400;
      font-size: 14px;

      .rowSubj {
        font-weight: 400;
        line-height: 2;
      }

      &:hover {
        background: #a79854;
      }

      a {
        color: white;
      }
    }

    /* TOPIC */
    .topicView,
    .topicViewContainer {
      color: white;
      background: #141313;
      font-weight: 500;
    }

    .disconnectedTopicView {
      background: #1d1c1c;
    }

    .posted {
      color: white;
    }

    .breadcrumbContainer,
    .parent {
      color: #999999;
      font-weight: 500;

      svg path {
        stroke: #999999;
      }
    }

    .topicHeader {
      font-size: 24px;
    }

    .editPostContainer .editPostBody .editPostInput {
      color: black;
    }

    .editPostButton {
      color: #b0b0b0;
      svg path {
        stroke: #b0b0b0;
      }
    }

    .votePostContainer .votePostContent .currentVotes {
      color: white;
    }

    .awardContent {
      .typeSelector .nftType {
        background: #141313;
        border: 1px solid white;
        color: white;

        svg path {
          fill: white;
        }
      }

      .giftsContainer .giftsGrid .selectedNFT {
        color: white;
        border: 1px solid white;
      }

      .amountInput {
        color: black;
      }
    }

    .topicContentBox {
      color: white;
      background: #1d1c1c;

      .commentsContainer,
      .headerAndActions .topicHeader .posted .postedBy .posterId,
      .headerAndActions .topicHeader .topicBody {
        color: white;
        font-weight: 500;
      }

      .headerAndActions .moderatorToolsContainer {
        .actionDivider {
          background: white;
        }

        .moderatorTool,
        .awardButton {
          color: #b0b0b0;
        }

        .awardButton {
          svg path {
            stroke: #b0b0b0;
          }
        }

        .delete svg path {
          fill: #b0b0b0;
        }

        .lock svg path {
          stroke: #b0b0b0;
        }
      }
    }

    .okButton,
    .acceptDeleteTopicButton {
      background: #141313;
      border: 1px solid white;
      color: white;
    }

    .createPostButton {
      background: #141313;
      border: 2px solid #f2f2f0;

      color: white;
      text-transform: uppercase;
    }

    .createPostContent .postContent {
      background: #d9d9d9;
      color: black;

      &::placeholder {
        color: #5f5f5f;
      }
    }

    /* POSTS  */
    .emptyPostsList {
      background: #1d1c1c;
    }

    .postContentContainer {
      color: white;
      background: #1d1c1c;

      &.inFlight {
        opacity: 0.75;
        cursor: progress;
        background: #bdddf445;
      }
    }

    .searchBarWrapper {
      color: black !important;
    }

    .addGIFButton {
      color: white;
      border-color: white;
    }

    .acceptDeletePostButton {
      background: #141313;
      border: 2px solid #f2f2f0;

      color: white;
    }

    .postContentBox {
      .box .postHeader .walletId {
        color: white;
      }

      .box .postBody {
        color: white;
      }

      .actionsContainer {
        .replyButton {
          color: #b0b0b0;

          svg path {
            fill: #b0b0b0;
          }
        }

        .awardButton {
          color: #b0b0b0;
          svg path {
            stroke: #b0b0b0;
          }
        }

        .deleteButton svg path {
          fill: #b0b0b0;
        }
      }
    }

    /* REPLIES  */
    .repliesContainer {
      color: white;
    }

    .replyHeader {
      .walletId {
        color: white;
      }
    }

    .replyBody {
      color: white;
    }

    .replyActionsContainer {
      .replyButton {
        color: #b0b0b0;

        svg path {
          fill: #b0b0b0;
        }
      }

      .awardButton {
        color: #b0b0b0;
        svg path {
          stroke: #b0b0b0;
        }
      }

      .deleteButton svg path {
        fill: #b0b0b0;
      }
    }

    .replyTextArea {
      background: #d9d9d9;
      color: black;
      border-width: 0;

      &::placeholder {
        color: #5f5f5f;
      }
    }

    .repliesSection {
      .cancelReplyButton {
        border-color: white;
        background: #1d1c1c;
        color: white;
        text-transform: uppercase;

        @media only screen and (max-width: 570px) {
          border: none;
        }
      }

      .postReplyButton {
        background: #141313;
        border: 2px solid #f2f2f0;

        color: white;
        text-transform: uppercase;
      }
    }
  }
  .accountInfo {
    svg path {
      stroke: #86878e;
    }
  }
}
