@layer components {
  .solanaSpace {
    box-shadow: 0 8px 16px #41414933;
    color: black;

    /* NOTIFICATION */
    .alertContent {
      font-family: Circular;
      background: white;
      border: 1px solid #999999;

      .alertText {
        color: #30302e;
      }
    }

    .notificationContainer {
      font-family: Circular;
      .closeContainer svg path {
        stroke: #30302e;
        fill: #30302e;
      }

      &.info {
        background: white;
        border: 1px solid #397bad;
      }

      &.error {
        background: white;
        border: 1px solid #e86143;
      }

      &.warning {
        background: white;
        border: 1px solid #ffb549;
      }

      &.success {
        background: white;
        border: 1px solid #84b971;
      }
    }

    .notificationText {
      font-weight: 500;
      font-size: 14px;
      color: #30302e;
      font-family: Circular;
    }

    /* POPUP MODAL */
    .popUpModal {
      .modalContainer .modalBox {
        color: #30302e;
        background: white;
        border: 1px solid #999999;
        font-family: Circular;
      }

      .modalClose .closeIcon {
        svg path {
          fill: #30302e;
        }
      }

      .modalActionsContainer .acceptAction .okButton,
      .modalActionsContainer .acceptAction .okInfoButton {
        background: white;
        border: 1px solid #30302e;
        color: #30302e;
        font-family: Circular;
      }
    }

    .collapsibleContainer {
      background: #d9d9d9;
      color: white;
      font-family: Circular;
      border: 1px solid #999999;

      .visibilityButton {
        svg path {
          stroke: white;
        }
      }
    }

    /* FORUM */
    .forumView,
    .forumViewContainer {
      font-family: Circular;
      background: white;
    }

    .forumContentHeader {
      background: white;

      .titleBox,
      .description {
        color: #1d1c1c;
        font-family: Circular;
      }

      .titleBox {
        line-height: 32px;
        padding: 24px 0;
      }
    }

    .toolsWrapper {
      background: white;
      font-family: Circular;
    }

    .moderatorToolsContainer {
      background: white;
      border-top: 1px solid #30302e;
      color: #1d1c1c;
      font-family: Circular;

      .manageOwnersButton,
      .manageModeratorsButton,
      .moderatorTool,
      .editForumButton {
        color: #d1d1d1;
        font-family: Circular;
      }

      .actionDivider {
        background: #30302e;
      }
    }

    .customizeBanner {
      font-family: Circular;
      .customizeBannerButton {
        font-family: Circular;
        background: #1d1c1c;
        font-family: Circular;

        svg path {
          stroke: #30302e;
        }

        &:hover {
          color: rgb(20, 241, 149);

          svg path {
            stroke: rgb(20, 241, 149);
          }
        }
      }

      .uploadImageWrapper {
        .imageSrcInput {
          color: black;
          font-family: Circular;
        }

        .imageContainer {
          color: black;
          background: white;
          border: 2px dashed rgb(20, 241, 149);
          font-family: Circular;
        }
      }
    }

    .createTopicButton {
      background: #141313;
      border: 2px solid #f2f2f0;

      font-style: normal;
      font-weight: 400;
      font-family: Circular;

      &:hover {
        color: rgb(20, 241, 149);
        border-color: rgb(20, 241, 149);

        svg path {
          fill: rgb(20, 241, 149);
        }
      }
    }

    .newAccessToken,
    .createTopicTitleInput {
      color: black;
      font-family: Circular;
    }

    .gatedForum,
    .lock,
    .manageOwnersButton,
    .editForumButton {
      svg path {
        stroke: #30302e;
      }
    }

    .forumContent {
      .cancelButton {
        color: #30302e;
        background: transparent;
        border-color: #30302e;
        font-family: Circular;
      }
      .okButton {
        background: #141313;
        border: 1px solid #30302e;
        color: #30302e;
        font-family: Circular;
      }
    }

    .editForumContainer .editForumBody .editForumInput,
    .editForumContainer .editForumBody .editForumInput.description {
      color: black;
      font-family: Circular;
    }

    .manageOwnersContainer .okButton.add {
      background: transparent;
      border: none;
      color: #30302e;
      font-family: Circular;
    }

    .manageOwnersInput,
    .manageModeratorsInput {
      color: black;
      font-family: Circular;
    }

    .manageModeratorsContainer .currentModerators,
    .manageOwnersContainer .currentOwners,
    .currentToken {
      color: #999;
      font-family: Circular;
    }

    .currentToken svg path {
      fill: #b0b0b0;
    }

    /* TOPIC LIST */
    .topicListContainer,
    .emptyTopicList {
      background: white;
      color: #30302e;
      font-family: Circular;
    }

    @media only screen and (max-width: 768px) {
      .topicListContainer {
        font-family: Circular;
        box-shadow: 0px 4px 12px rgb(0 0 0 / 16%),
          inset -4px 0px 8px 0 rgb(255 255 255 / 16%);
      }
    }

    .current {
      display: flex;
      font-family: Circular;
    }

    .tableHeader {
      border-color: #30302e;
      font-family: Circular;
    }

    .topicListContainer .tableHeader .tableHeaderTitle {
      color: #30302e;
      font-family: Circular;
    }

    .row.topicInFlight .confirmingTopic {
      color: #30302e;
      font-family: Circular;
    }

    .row {
      border-bottom: 1px solid #30302e;
      font-weight: 400;
      font-size: 14px;
      font-family: Circular;

      .rowSubj {
        font-weight: 400;
        line-height: 2;
        font-family: Circular;
      }

      &:hover {
        background: #9993;

        a {
          color: rgb(20, 241, 149);
        }
      }

      a {
        color: #30302e;
      }
    }

    /* TOPIC */
    .topicListRowAsMobileBody,
    .topicListRowAsMobileTitle {
      color: black;
    }

    .topicView,
    .topicViewContainer {
      color: #30302e;
      background: white;
      font-weight: 500;
      font-family: Circular;
    }

    .disconnectedTopicView {
      background: white;
      font-family: Circular;
    }

    .posted {
      font-family: Circular;
      color: #30302e;
    }

    .breadcrumbContainer {
      .parent {
        font-family: Circular;
        color: #999999;
        font-weight: 500;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        svg path {
          stroke: #999999;
        }
      }
      .current {
        font-family: Circular;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .topicHeader {
      font-family: Circular;
      font-size: 24px;
    }

    .editPostContainer .editPostBody .editPostInput {
      font-family: Circular;
      color: black;
    }

    .editPostButton {
      color: #b0b0b0;
      font-family: Circular;
      svg path {
        stroke: #b0b0b0;
      }
    }

    .votePostContainer .votePostContent .currentVotes {
      font-family: Circular;
      color: #30302e;
    }

    .awardContent {
      .typeSelector .nftType {
        font-family: Circular;
        background: #141313;
        border: 1px solid #30302e;
        color: white;

        svg path {
          fill: white;
        }
      }

      .giftsContainer .giftsGrid .selectedNFT {
        font-family: Circular;
        color: #30302e;
        border: 1px solid #30302e;
      }

      .amountInput {
        font-family: Circular;
        color: black;
      }
    }

    .topicContentBox {
      font-family: Circular;
      color: #30302e;
      background: white;

      .commentsContainer,
      .headerAndActions .topicHeader .posted .postedBy .posterId,
      .headerAndActions .topicHeader .topicBody {
        color: #30302e;
        font-weight: 500;
      }

      .headerAndActions .topicToolsContainer {
        .actionDivider {
          background: #30302e;
          font-family: Circular;
        }

        .moderatorTool,
        .awardButton {
          font-family: Circular;
          color: #b0b0b0;
        }

        .awardButton {
          svg path {
            stroke: #b0b0b0;
          }
        }

        .delete svg path {
          fill: #b0b0b0;
        }

        .lock svg path {
          stroke: #b0b0b0;
        }
      }
    }

    .okButton,
    .acceptDeleteTopicButton {
      font-family: Circular;
      background: #141313;
      border: 1px solid #30302e;
      color: #30302e;
    }

    .createPostButton {
      font-family: Circular;
      background: #141313;
      border: 2px solid #f2f2f0;

      color: white;

      &:hover {
        color: rgb(20, 241, 149);
        border-color: rgb(20, 241, 149);
      }
    }

    .createPostContent .postContent {
      background: white;
      font-family: Circular;
      color: black;

      &::placeholder {
        color: #5f5f5f;
      }
    }

    /* POSTS  */
    .emptyPostsList {
      font-family: Circular;
      background: white;
    }

    .postContentContainer {
      font-family: Circular;
      color: black;
      background: white;

      &.inFlight {
        opacity: 0.75;
        cursor: progress;
        background: #bdddf445;
      }
    }

    .searchBarWrapper {
      font-family: Circular;
      color: black !important;
    }

    .addGIFButton {
      font-family: Circular;
      color: #30302e;
      border-color: #30302e;
    }

    .uploadTopicImageIcon {
      path {
        stroke: #30302e;
      }
    }

    .acceptDeletePostButton {
      font-family: Circular;
      background: #141313;
      border: 2px solid #f2f2f0;

      color: #30302e;
    }

    .postContentBox {
      font-family: Circular;
      .box .postHeader .walletId {
        font-family: Circular;
        color: #30302e;
      }

      .box .postBody {
        font-family: Circular;
        color: #30302e;
      }

      .actionsContainer {
        font-family: Circular;
        .replyButton {
          font-family: Circular;
          color: #b0b0b0;

          svg path {
            fill: #b0b0b0;
          }
        }

        .awardButton {
          font-family: Circular;
          color: #b0b0b0;
          svg path {
            stroke: #b0b0b0;
          }
        }

        .deleteButton svg path {
          fill: #b0b0b0;
        }
      }
    }

    /* REPLIES  */
    .repliesContainer {
      font-family: Circular;
      color: #30302e;
    }

    .replyHeader {
      font-family: Circular;
      .walletId {
        font-family: Circular;
        color: #30302e;
      }
    }

    .replyBody {
      font-family: Circular;
      color: #30302e;
    }

    .replyActionsContainer {
      font-family: Circular;
      .replyButton {
        font-family: Circular;
        color: #b0b0b0;

        svg path {
          fill: #b0b0b0;
        }
      }

      .awardButton {
        font-family: Circular;
        color: #b0b0b0;
        svg path {
          stroke: #b0b0b0;
        }
      }

      .deleteButton svg path {
        fill: #b0b0b0;
      }
    }

    .replyTextArea {
      font-family: Circular;
      background: white;
      color: black;
      border-color: #cac9cb;
      border-width: 1px;

      &::placeholder {
        color: #5f5f5f;
      }
    }

    .repliesSection {
      font-family: Circular;
      .cancelReplyButton {
        font-family: Circular;
        border-color: #30302e;
        background: white;
        color: #30302e;

        @media only screen and (max-width: 570px) {
          border: none;
        }
      }

      .postReplyButton {
        font-family: Circular;
        background: black;
        border: 2px solid #f2f2f0;

        color: white;

        &:hover {
          color: rgb(20, 241, 149);
          border-color: rgb(20, 241, 149);
        }
      }
    }
  }
  .accountInfo {
    font-family: Circular;
    svg path {
      stroke: #86878e;
    }
  }
}
