@layer components {
  .deleteMessageButton {
    .okButton {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      height: 48px;
      padding: 0 16px;
      border-radius: 6px;

      background: rgba(31, 41, 55, 1);
      color: white;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    .cancelButton {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 48px;
      padding: 0 16px;
      border-radius: 6px;
      border-width: 2px;
      border-color: rgba(31, 41, 55, 1);

      background: white;
      color: rgba(31, 41, 55, 1);
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        opacity: 0.85;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    .trashIconContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
    }
  }
}
