@import 'tailwindcss/base';

@import 'tailwindcss/components';

/* Common */
@import './styles/Collapsible.css';
@import './styles/DeleteMesageButton.css';
@import './styles/PopUpModal.css';
@import './styles/Spinner.css';
@import './styles/Tooltip.css';
@import './styles/TransactionLink.css';

/* Forums */
@import './styles/PoweredByDispatch.css';
@import './styles/ConnectionAlert.css';
@import './styles/StarsAlert.css';
@import './styles/Notification.css';

/* Forum */
@import './styles/CreateForum.css';
@import './styles/EditForum.css';
@import './styles/ForumContent.css';
@import './styles/ManageOwners.css';
@import './styles/ManageModerator.css';
@import './styles/TopicList.css';
@import './styles/TopicListRow.css';
@import './styles/UploadImage.css';

/* Topic */
@import './styles/CreatePost.css';
@import './styles/EditPost.css';
@import './styles/GiveAward.css';
@import './styles/PostContent.css';
@import './styles/PostReplies.css';
@import './styles/PostsList.css';
@import './styles/RoleLabel.css';
@import './styles/TopicContent.css';
@import './styles/VotePost.css';

/* Views */
@import './styles/ForumView.css';
@import './styles/TopicView.css';

/* Themes */
@import './styles/themes/Dark.css';
@import './styles/themes/Light.css';

/* Customizations */
@import 'styles/customizations/DegenApeAcademy.css';
@import 'styles/customizations/Metaplex.css';

@import 'tailwindcss/utilities';

@layer base {
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure {
    font-size: revert;
    font-weight: revert;
    line-height: revert;
  }

  p,
  blockquote {
    margin: revert;
  }

  ol,
  ul {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  a {
    color: #007bff;
    text-decoration: revert;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}
